.course-info {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.course-info .overlap-wrapper {
  background-color: #ffffff;
  overflow: hidden;
  width: 1280px;
  height: 832px;
}

.course-info .overlap {
  position: relative;
  height: 871px;
}

.course-info .overlap-group {
  position: absolute;
  width: 1280px;
  height: 871px;
  top: 0;
  left: 0;
}

.course-info .logo-menu {
  position: absolute;
  width: 316px;
  height: 80px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border: 0px none;
  box-shadow: 0px 4px 4px #00000040;
}

.course-info .side-menu {
  position: absolute;
  width: 314px;
  height: 871px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  box-shadow: 4px 0px 25px #0000000d;
}

.course-info .top-menu {
  position: absolute;
  width: 1280px;
  height: 80px;
  top: 0;
  left: 0;
  background-color: var(--x-0-7b-2fb);
  box-shadow: 0px 4px 10px #b3abab1a;
}

.course-info .user {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 7px;
  left: 137px;
}

.course-info .text-wrapper {
  position: absolute;
  width: 327px;
  height: 23px;
  top: 51px;
  left: 5px;
  font-family: "Fredoka One", Helvetica;
  font-weight: 400;
  color: #0682c8;
  font-size: 25px;
  letter-spacing: 0;
  line-height: 16px;
}

.course-info .img {
  position: absolute;
  width: 52px;
  height: 57px;
  top: 19px;
  left: 1122px;
}

.course-info .drop-down-icon {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 36px;
  left: 1182px;
}

.course-info .div {
  position: absolute;
  height: 16px;
  top: 40px;
  left: 988px;
  font-family: "Fredoka One", Helvetica;
  font-weight: 400;
  color: #0783c9;
  font-size: 25px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.course-info .alerts {
  position: absolute;
  width: 42px;
  height: 44px;
  top: 25px;
  left: 930px;
}

.course-info .group {
  position: absolute;
  width: 266px;
  height: 629px;
  top: 111px;
  left: 25px;
}

.course-info .overlap-2 {
  position: relative;
  width: 260px;
  height: 629px;
  border-radius: 10px;
}

.course-info .info {
  position: absolute;
  width: 44px;
  height: 49px;
  top: 520px;
  left: 21px;
}

.course-info .rectangle {
  width: 260px;
  height: 629px;
  top: 0;
  left: 0;
  border-radius: 10px;
  box-shadow: 2px 4px 30px #0000001a;
  position: absolute;
  background-color: #ffffff;
}

.course-info .ellipse {
  position: absolute;
  width: 64px;
  height: 64px;
  top: 19px;
  left: 22px;
}

.course-info .text-wrapper-2 {
  position: absolute;
  top: 33px;
  left: 106px;
  font-family: "Outfit", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.course-info .text-wrapper-3 {
  position: absolute;
  top: 120px;
  left: 29px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #939393;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.course-info .group-2 {
  position: absolute;
  width: 161px;
  height: 33px;
  top: 186px;
  left: 32px;
}

.course-info .text-wrapper-4 {
  position: absolute;
  top: 6px;
  left: 79px;
  font-family: "Outfit", Helvetica;
  font-weight: 400;
  color: #3f08dd;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.course-info .group-3 {
  position: absolute;
  width: 33px;
  height: 33px;
  top: 0;
  left: 0;
  background-color: #794bfb;
  border-radius: 8px;
}

.course-info .rectangle-2 {
  width: 8px;
  height: 8px;
  top: 7px;
  left: 8px;
  border-radius: 2px;
  position: absolute;
  background-color: #ffffff;
}

.course-info .rectangle-3 {
  width: 8px;
  height: 8px;
  top: 7px;
  left: 18px;
  border-radius: 2px;
  position: absolute;
  background-color: #ffffff;
}

.course-info .rectangle-4 {
  width: 8px;
  height: 8px;
  top: 17px;
  left: 8px;
  border-radius: 2px;
  position: absolute;
  background-color: #ffffff;
}

.course-info .rectangle-5 {
  width: 8px;
  height: 8px;
  top: 17px;
  left: 18px;
  border-radius: 2px;
  position: absolute;
  background-color: #ffffff;
}

.course-info .group-4 {
  position: absolute;
  width: 124px;
  height: 33px;
  top: 244px;
  left: 32px;
}

.course-info .text-wrapper-5 {
  position: absolute;
  top: 6px;
  left: 79px;
  font-family: "Outfit", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.course-info .bell-simple-wrapper {
  position: absolute;
  width: 33px;
  height: 33px;
  top: 0;
  left: 0;
  background-color: #ff5959;
  border-radius: 8px;
}

.course-info .img-2 {
  position: absolute;
  width: 21px;
  height: 21px;
  top: 6px;
  left: 6px;
}

.course-info .group-5 {
  position: absolute;
  width: 202px;
  height: 33px;
  top: 302px;
  left: 32px;
}

.course-info .swatches-wrapper {
  position: absolute;
  width: 33px;
  height: 33px;
  top: 0;
  left: 0;
  background-color: #81dd79;
  border-radius: 8px;
}

.course-info .swatches {
  position: absolute;
  width: 21px;
  height: 21px;
  top: 6px;
  left: 7px;
}

.course-info .group-6 {
  position: absolute;
  width: 131px;
  height: 33px;
  top: 440px;
  left: 34px;
}

.course-info .gear-six-wrapper {
  position: absolute;
  width: 33px;
  height: 33px;
  top: 0;
  left: 0;
  background-color: #000000;
  border-radius: 8px;
}

.course-info .group-7 {
  position: absolute;
  width: 162px;
  height: 33px;
  top: 360px;
  left: 32px;
}

.course-info .user-circle-gear-wrapper {
  position: absolute;
  width: 33px;
  height: 33px;
  top: 0;
  left: 0;
  background-color: #b4e368;
  border-radius: 8px;
}

.course-info .text-wrapper-6 {
  position: absolute;
  top: 38px;
  left: 44px;
  font-family: "Petrona", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.course-info .group-8 {
  position: absolute;
  width: 211px;
  height: 82px;
  top: 524px;
  left: 32px;
}

.course-info .text-wrapper-7 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Petrona", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.course-info .p {
  position: absolute;
  top: 49px;
  left: 0;
  font-family: "Outfit", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.course-info .text-wrapper-8 {
  position: absolute;
  top: 69px;
  left: 0;
  font-family: "Outfit", Helvetica;
  font-weight: 400;
  color: #827a7a;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
}

.course-info .line-wrapper {
  position: absolute;
  width: 205px;
  height: 5px;
  top: 35px;
  left: 0;
  background-image: url(./img/line-3.svg);
  background-size: 100% 100%;
}

.course-info .line {
  position: absolute;
  width: 64px;
  height: 5px;
  top: 0;
  left: 0;
}

.course-info .overlap-3 {
  position: absolute;
  width: 909px;
  height: 444px;
  top: 115px;
  left: 349px;
}

.course-info .text-wrapper-9 {
  position: absolute;
  width: 421px;
  height: 66px;
  top: 0;
  left: 0;
  font-family: "Hammersmith One", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 25px;
  letter-spacing: 0;
  line-height: 16px;
}

.course-info .group-9 {
  position: absolute;
  width: 909px;
  height: 386px;
  top: 58px;
  left: 0;
}

.course-info .overlap-4 {
  position: absolute;
  width: 299px;
  height: 384px;
  top: 2px;
  left: 0;
}

.course-info .bounds {
  position: absolute;
  width: 292px;
  height: 384px;
  top: 0;
  left: 0;
  background-color: #dcdbf5;
  border-radius: 18.47px;
  border: 0.92px solid;
  border-color: var(--stroke-color);
}

.course-info .text-wrapper-10 {
  position: absolute;
  width: 288px;
  height: 24px;
  top: 12px;
  left: 11px;
  font-family: "Hammersmith One", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 20px;
}

.course-info .overlap-group-wrapper {
  position: absolute;
  width: 303px;
  height: 386px;
  top: 0;
  left: 305px;
}

.course-info .overlap-group-2 {
  position: relative;
  width: 299px;
  height: 386px;
}

.course-info .bounds-2 {
  position: absolute;
  width: 292px;
  height: 386px;
  top: 0;
  left: 0;
  background-color: #dcdbf5;
  border-radius: 18.47px;
  border: 0.92px solid;
  border-color: var(--stroke-color);
}

.course-info .hi-all-the-main {
  position: absolute;
  width: 268px;
  height: 150px;
  top: 67px;
  left: 11px;
  font-family: "Hammersmith One", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 20px;
}

.course-info .text-wrapper-11 {
  position: absolute;
  width: 288px;
  height: 19px;
  top: 9px;
  left: 11px;
  font-family: "Hammersmith One", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.course-info .div-wrapper {
  position: absolute;
  width: 301px;
  height: 384px;
  top: 2px;
  left: 608px;
}

.course-info .overlap-5 {
  position: relative;
  width: 299px;
  height: 384px;
}

.course-info .text-wrapper-12 {
  position: absolute;
  width: 288px;
  height: 15px;
  top: 8px;
  left: 11px;
  font-family: "Hammersmith One", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.course-info .table {
  display: flex;
  width: 902px;
  height: 234px;
  align-items: flex-start;
  position: absolute;
  top: 572px;
  left: 348px;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid;
  border-color: var(--grey-2);
}

.course-info .div-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.course-info .cell {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  padding: 18px 20px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--white);
  box-shadow: var(--border);
}

.course-info .checkbox {
  position: relative;
  width: 22px;
  height: 22px;
  border-radius: 6px;
  border: 2px solid;
  border-color: var(--grey-2);
}

.course-info .checkbox-wrapper {
  display: inline-flex;
  gap: 12px;
  padding: 18px 20px;
  background-color: var(--grey-1);
  align-items: center;
  position: relative;
  flex: 0 0 auto;
  box-shadow: var(--border);
}

.course-info .checkbox-2 {
  position: relative;
  width: 22px;
  height: 22px;
}

.course-info .product {
  display: flex;
  flex-direction: column;
  width: 184px;
  align-items: flex-start;
  position: relative;
}

.course-info .header-wrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 20px 20px 21px;
  align-self: stretch;
  width: 100%;
  background-color: var(--white);
  align-items: center;
  position: relative;
  flex: 0 0 auto;
  box-shadow: var(--border);
}

.course-info .header {
  position: relative;
  flex: 1;
  margin-top: -1px;
  font-family: var(--h1-font-family);
  font-weight: var(--h1-font-weight);
  color: var(--grey-3);
  font-size: var(--h1-font-size);
  letter-spacing: var(--h1-letter-spacing);
  line-height: var(--h1-line-height);
  font-style: var(--h1-font-style);
}

.course-info .cell-2 {
  display: flex;
  gap: 12px;
  padding: 7px 20px;
  align-self: stretch;
  width: 100%;
  background-color: var(--grey-1);
  align-items: center;
  position: relative;
  flex: 0 0 auto;
  box-shadow: var(--border);
}

.course-info .text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.course-info .text-2 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--h1-font-family);
  font-weight: var(--h1-font-weight);
  color: var(--grey-4);
  font-size: var(--h1-font-size);
  letter-spacing: var(--h1-letter-spacing);
  line-height: var(--h1-line-height);
  font-style: var(--h1-font-style);
}

.course-info .text-3 {
  position: relative;
  align-self: stretch;
  font-family: var(--3-font-family);
  font-weight: var(--3-font-weight);
  color: var(--grey-5);
  font-size: var(--3-font-size);
  letter-spacing: var(--3-letter-spacing);
  line-height: var(--3-line-height);
  font-style: var(--3-font-style);
}

.course-info .text-4 {
  display: flex;
  flex-direction: column;
  width: 88px;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  position: relative;
}

.course-info .cell-3 {
  display: flex;
  gap: 12px;
  padding: 7px 20px;
  align-self: stretch;
  width: 100%;
  background-color: var(--white);
  align-items: center;
  position: relative;
  flex: 0 0 auto;
  box-shadow: var(--border);
}

.course-info .cell-4 {
  display: flex;
  width: 119px;
  gap: 12px;
  padding: 17px 20px;
  background-color: var(--white);
  align-items: center;
  position: relative;
  flex: 0 0 auto;
  box-shadow: var(--border);
}

.course-info .header-2 {
  position: relative;
  flex: 1;
  font-family: var(--h1-font-family);
  font-weight: var(--h1-font-weight);
  color: var(--grey-3);
  font-size: var(--h1-font-size);
  letter-spacing: var(--h1-letter-spacing);
  line-height: var(--h1-line-height);
  font-style: var(--h1-font-style);
}

.course-info .element-down {
  position: relative;
  width: 24px;
  height: 24px;
}

.course-info .cell-5 {
  display: flex;
  gap: 12px;
  padding: 20px 20px 21px;
  align-self: stretch;
  width: 100%;
  background-color: var(--grey-1);
  align-items: center;
  position: relative;
  flex: 0 0 auto;
  box-shadow: var(--border);
}

.course-info .text-5 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--3-font-family);
  font-weight: var(--3-font-weight);
  color: var(--grey-4);
  font-size: var(--3-font-size);
  letter-spacing: var(--3-letter-spacing);
  line-height: var(--3-line-height);
  font-style: var(--3-font-style);
}

.course-info .cell-6 {
  display: flex;
  gap: 12px;
  padding: 20px 20px 21px;
  align-self: stretch;
  width: 100%;
  background-color: var(--white);
  align-items: center;
  position: relative;
  flex: 0 0 auto;
  box-shadow: var(--border);
}

.course-info .address {
  display: flex;
  flex-direction: column;
  width: 320px;
  align-items: flex-start;
  position: relative;
}

.course-info .rating {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
}

.course-info .cell-7 {
  display: flex;
  justify-content: center;
  gap: 4px;
  padding: 17px 20px;
  align-self: stretch;
  width: 100%;
  background-color: var(--grey-1);
  align-items: center;
  position: relative;
  flex: 0 0 auto;
  box-shadow: var(--border);
}

.course-info .rating-2 {
  background-image: url(./img/24-star-6.svg);
  position: relative;
  width: 24px;
  height: 24px;
  background-size: 100% 100%;
}

.course-info .rating-3 {
  background-image: url(./img/24-star-5.svg);
  position: relative;
  width: 24px;
  height: 24px;
  background-size: 100% 100%;
}

.course-info .cell-8 {
  display: flex;
  justify-content: center;
  gap: 4px;
  padding: 17px 20px;
  align-self: stretch;
  width: 100%;
  background-color: var(--white);
  align-items: center;
  position: relative;
  flex: 0 0 auto;
  box-shadow: var(--border);
}
