:root {
  --a-5a-6f-6: rgba(7, 178, 251, 1);
  --x-0-7b-2fb: rgba(255, 255, 255, 1);
  --fuschia-100: rgba(239, 93, 168, 1);
  --fuschia-80: rgba(241, 120, 182, 1);
  --fuschia-60: rgba(252, 221, 236, 1);
  --iris-100: rgba(93, 95, 239, 1);
  --iris-80: rgba(120, 121, 241, 1);
  --iris-60: rgba(165, 166, 246, 1);
  --base-shade-70: rgba(0, 0, 0, 0.7);
  --base-shade-100: rgba(0, 0, 0, 1);
  --stroke-color: rgba(239, 240, 246, 1);
  --header-1-font-family: "WorkSans-Bold", Helvetica;
  --header-1-font-weight: 700;
  --header-1-font-size: 34px;
  --header-1-letter-spacing: -0.68px;
  --header-1-line-height: normal;
  --header-1-font-style: normal;
  --header-2-font-family: "WorkSans-Bold", Helvetica;
  --header-2-font-weight: 700;
  --header-2-font-size: 20px;
  --header-2-letter-spacing: -0.4px;
  --header-2-line-height: normal;
  --header-2-font-style: normal;
  --body-font-family: "WorkSans-Regular", Helvetica;
  --body-font-weight: 400;
  --body-font-size: 13px;
  --body-letter-spacing: -0.26px;
  --body-line-height: normal;
  --body-font-style: normal;
  --variable-collection-black: rgba(18, 19, 19, 1);
}
